.DS_Store
.vscode/
*.code-workspace
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
*.pidb
*.suo
*.user
*.userprefs
sysinfo.json
crash_reports/
.git/lfs/
venv/
env/
__pycache__/
*.pyc
node_modules/
*.swp
Thumbs.db
